<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}Cadastro</title>
  <style>
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  </style>
</head>
<body>
  <h1>Cadastro Grid</h1>
  <a href="/">
       <button>Home</button>
  </a>
  <form action="grid" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" value="" required>
    <label for="sim">Simulador</label>
    <input type="text" name="sim" value="" required>
    <br>
    <table id="pontuacao">
      <th>Posicao</th>
      <th>Pontos</th>
      <tr>
        <td>1</td>
        <td><input type="int" name="posicao1" value="25" required></td>
      </tr>
      <tr>
        <td>2</td>
        <td><input type="int" name="posicao2" value="20" required></td>
      </tr>
      <tr>
        <td>3</td>
        <td><input type="int" name="posicao3" value="18" required></td>
      </tr>
    </table>
    <input type="submit" value="Submit">
  </form>
</body>
</html>